language: rust

rust:
  - nightly

env:
  - NODE_VERSION="10"

before_install:
  - nvm install $NODE_VERSION

install:
  - rustup target add wasm32-unknown-unknown --toolchain nightly
  - cargo install wasm-pack
  - yarn install

script:
  - npm run webpack
  - npm run compile